* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html {
	scroll-behavior: smooth;
  }

.main {
	width: 100%;
	overflow: hidden;
}

.main-header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 11;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 18px 48px;
	background: linear-gradient(to bottom, #5d5d5d 0%, #ffffff03 100%);
}

.main-header .left {
	display: flex;
	align-items: center;
}

.main-header .left button {
	width: 45px;
	height: 45px;
	border: 1px solid #0000005f;
	border-radius: 6px;
	background-color: #fff;
	display: flex;
	align-items: center;
	margin-right: 10px;
	justify-content: center;
}

.main-header .left button i {
	font-size: 20px;
	color: #000;
}

.left.right button {
	background-color: transparent;
	border: none;
	margin: 0px;
}

.left.right button i {
	color: #fff;
}

.main .herosection {
	position: relative;
}

.main .herosection span {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #00000038;
}

.main .herosection .back-img {
	height: 456px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.herosection .back-img img {
	width: 100%;
}

.herosection .talbina {
	position: absolute;
	bottom: 30px;
	left: calc(50% - 370px);
	width: 740px;
	height: 190px;
	z-index: 1;
	background-color: #fff;
	border-radius: 6px;
	margin: 0 auto;
}

.herosection .talbina .upper {
	padding: 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #dbdada;
}

.herosection .talbina .upper .logo img {
	width: 64px;
	height: 64px;
}

.herosection .talbina .upper .credit-cards h3 {
	margin: 0px;
	font-size: 25px;
	font-weight: 600;
}

.herosection .talbina .upper .credit-cards .credit {
	display: flex;
	align-items: center;
	width: 590px;
	margin-top: 17px;
}

.herosection .talbina .upper .credit-cards .credit img {
	margin-right: 20px;
	width: 40px;
	height: 25px;

	&:last-child {
		margin-right: 0px;
	}
}

.herosection .talbina .upper .navigation i {
	color: #3e3e3e;
	font-size: 20px;
}

.herosection .talbina .lower {
	padding: 16px;
}

.herosection .talbina .lower button {
	width: 100%;
	padding: 8px;
	color: #fff;
	font-size: 23px;
	border-radius: 4px;
	border: none;
	background-color: #1c79e3;
}

.nav-section {
	background-color: #f0f0f0;
	width: 100%;
}

.nav-section .content {
	overflow: hidden;
	max-width: 1711px;
	margin: 0 auto;
}

.nav-section .nav-bar {
	width: 100%;
	max-width: 1711px;
	margin-top: 80px;
	background-color: #fff;
	padding: 10px;
	display: flex;
	align-items: center;
	/* min-width: 1710px; */
}

.nav-section .nav-bar .btns {
	display: flex;
	align-items: center;
	width: 1637px;
}

.nav-section .nav-bar .icon i {
	font-size: 30px;
	color: gray;
}

.nav-section .nav-bar .icon {
	padding: 10px;
	border-left: 1px solid gray;
}

.nav-section .nav-bar button {
	width: 70px;
	border-radius: 30px;
	padding: 10px;
	border: none;
	font-size: 16px;
	color: #1c79e3;
	font-weight: 600;
	background-color: #fff;
}

.active {

	background-color: #1c79e3 !important;
	color: #fff !important;
}
@keyframes modalZoomIn {
	from {
		transform: scale(0.1);
	}
	to {
		transform: scale(1);
	}
}

.modal.fade.zoom .modal-dialog {
	animation: modalZoomIn 0.3s ease-out;
}@keyframes modalZoomIn {
	from {
		transform: scale(0.1);
	}
	to {
		transform: scale(1);
	}
}

.modal.fade.zoom .modal-dialog {
	animation: modalZoomIn 0.3s ease-out;
}

.main-modal .modal-dialog {
	height: 93%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1200px;
}
.main-modal .modal-dialog .modal-content{
	width: 100%;
	height: 100%;
	padding: 20px;
}



.content .sections-container .section .box{
	border-radius: 10px;
	background-color: #fff;
	padding: 20px;
}
.content .sections-container .section {
margin-top: 50px;
}
.content .sections-container .section h3{
	font-size: 20px;
	margin-bottom: 30px;
}

.content .sections-container .section .box .details {
	cursor: pointer;
}
.content .sections-container .section .box .details .img-box {
	position: relative;
	border-radius: 10px;
	max-width: 400px;
	height: 400px;
	overflow: hidden;
	border-radius: 10px;
	overflow: hidden;
}
.content .sections-container .section .box .details .img-box img{
	max-width: 400px;
	height: 400px;
	width: 100%;
	transition: 0.3s;
}
.box .img-box img:hover{
	transform: scale(1.2);
	transition: 0.2s;
}
.content .sections-container .section .box  .stock {
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 111;
}
.content .sections-container .section .box .stock label {
	
	
	font-size: 16px;
	color: #fff;
	padding: 10px 20px;
	background-color: #ff6363;
	border: 1px solid #fff;
	border-radius: 6px;
}
.content .sections-container .section .box .details .name{
	margin-top: 20px;
}
.content .sections-container .section .box .details .name h3{
	font-size: 20px;
	margin: 0px;
	font-weight: 600;
}
.content .sections-container .section .box .details .name label{
	font-size: 14px;
	font-weight: normal;
	margin: 0px;
	color: rgb(186, 186, 186);
	padding-top: 10px;
}
.content .sections-container .section .box .details .name .price{
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.content .sections-container .section .box .details .name .price i{
	color: red;
	font-size: 20px;
}
.content .sections-container .section .box .details .name .price .product-details{
	max-width: 150px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}
.content .sections-container .section .box .details .name .price .product-details h3{
	font-size: 19px;
	margin: 0px;
	font-weight: 600;
}
.content .sections-container .section .box .details .name .price .product-details i{
	color: #1c79e3;
	font-size: 25px;
}
.carousel-inner > .item > img {
	width: 100%;
	height: 300px;
}


.header {
	padding: 10px 16px;
	background: #555;
	color: #f1f1f1;
}

.content {
	padding: 16px;
}

.sticky {
	position: fixed;
	top: 20px;
	width: 100%;
	z-index: 11;
}

.sticky+.content {
	padding-top: 102px;
}